//
// Typography
// --------------------------------------------------

.blockquote-sm{
  padding: 3px 15px;
  font-size: $font-size-base;
}

// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  small,
  .small {
    font-weight: $headings-font-weight;
  }
}

//
// Forms
// --------------------------------------------------


.form-control {
  font-weight: $font-weight-normal;
  @include box-shadow(none);
  &:focus{
    @include box-shadow(none);
  }
}

label {
  font-weight: $font-weight-normal;
}

.help-block{
  font-size: $font-size-smaller;
  color: $text-muted;
}

legend {
  font-size: $font-size-base + 1;
  font-weight: $font-weight-normal;
}

.form-group {
  margin-bottom: $line-height-computed;
}

.input-group-addon{
  &.bg-primary{
    border-color: darken($brand-primary, 10%);
  }
  &.bg-success{
    border-color: darken($state-success-bg, 10%);
  }
  &.bg-info{
    border-color: darken($state-info-bg, 10%);
  }
  &.bg-warning{
    border-color: darken($state-warning-bg, 10%);
  }
  &.bg-danger{
    border-color: darken($state-danger-bg, 10%);
  }
}

.form-horizontal.form-label-left {
  @media (min-width: $screen-sm-min) {
    .control-label {
      text-align: left;
    }
  }
}

// Feedback states
.has-success {
  @include form-control-validation($brand-success, $brand-success, $brand-success);
}
.has-warning {
  @include form-control-validation($brand-warning, $brand-warning, $brand-warning);
}
.has-error {
  @include form-control-validation($brand-danger, $brand-danger, $brand-danger);
}

//turn off shadow
.has-success,
.has-warning,
.has-error {
  .form-control {
    &:focus {
      @include box-shadow(none);
    }
  }
}

.input-lg, .input-sm{
  border-radius: $input-border-radius;
}

.input-group-addon{
  border-radius: $input-border-radius;
}

.input-rounded{
  border-radius: $border-radius-base;
}


// Checkboxes and radios
//

.radio,
.checkbox {
  padding-left: 20px;

  label {
    margin-bottom: 5px;
  }
}

//
// Tables
// --------------------------------------------------

.table td > .checkbox,
.table th > .checkbox{
  position: relative;
  top: -8px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  > label:before,
  > label:after{
    margin-left: 0;
  }
}

.table > thead > tr > th{
  font-weight: $font-weight-semi-bold;
  text-transform: uppercase;
  border-bottom-width: 1px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table-bordered th{
  background-color: $gray-lighter;
}

.table-lg {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: 10px;
      }
    }
  }
}

.table-sm {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: 6px;
      }
    }
  }
}

.table-hover > tbody > tr:hover .progress{
  background-color: $white;
}

//
// Dropdown menus
// --------------------------------------------------

.dropdown-menu{
  font-size: $font-size-mini;

  & > li > a{
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

//
// Navs
// --------------------------------------------------

.nav-tabs {
  border-bottom: none;
  background-color: $gray-semi-lighter;
  border-top-left-radius: $border-radius-base;
  border-top-right-radius: $border-radius-base;
  > li {
    margin-bottom: 0;
    > a {
      padding: 12px 18px;
      border: none;
      color: $text-muted;
      @include transition(color .15s ease-in-out);
      &:hover {
        background-color: transparent;
        color: $text-color;
      }
    }

    &.open > a{
      &,
      &:hover,
      &:focus{
        background-color: $nav-tabs-active-link-hover-bg;
        color: $nav-tabs-active-link-hover-color;
      }
    }

    &.active > a {
      &,
      &:hover,
      &:focus {
        border: none;
        @include box-shadow(1px 1px 2px #ccc);
      }
    }
  }
}

.tab-content {
  position: relative;
  z-index: 1;
  background-color: $white;
  > .tab-pane {
    padding: $line-height-computed;
  }
}

// LEFT & RIGHT
// ------------

// TABBABLE
// --------


// COMMON STYLES
// -------------

.tabbable {
  @include clearfix();
}
.tab-content {
  overflow: auto; // prevent content from running below tabs
}

// Remove border on bottom, left, right
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

// Show/hide tabbable areas
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}

// LEFT & RIGHT
// ------------

// Common styles
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs > li:last-child > a,
.tabs-right > .nav-tabs > li:last-child > a{
  margin-bottom: 0;
}

// Tabs on the left
.tabs-left > .nav-tabs {
  float: left;
  border-top-right-radius: 0;
}
.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  border-radius: 4px 0 0 4px;
}

// Tabs on the right
.tabs-right > .nav-tabs {
  float: right;
  border-top-left-radius: 0;
}
.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li.active > a{
  @include box-shadow(-1px 1px 2px #ccc);
}


//
// Navbars
// --------------------------------------------------

.navbar {
  border: none;
  font-size: $navbar-font-size;
  font-weight: 500;

  h5{
    font-size: $navbar-font-size;
  }

  .deemphasize{
    font-size: $font-size-small;
  }
}

.navbar-form{
  .form-control{
    font-size: $navbar-font-size;
  }

  .input-group{
    width: 245px;
  }

  .input-group-addon{
    color: $navbar-default-link-color;
  }
}

.container,
.container-fluid {
  > .navbar-header,
  > .navbar-collapse {
    @media (min-width: $grid-float-breakpoint) {
      margin-right: -$navbar-padding-horizontal;
      margin-left:  -$navbar-padding-horizontal;
    }
  }
}

.navbar-header > .navbar-nav{
  float: left;

  &.navbar-right{
    float: right;
  }

  margin-left: $navbar-padding-horizontal;
  margin-right: $navbar-padding-horizontal;

  @media (max-width: $screen-xs-max) {
    margin-top: 5px;
    margin-bottom: 5px;

    + .navbar-brand{
      height: 60px;
      line-height: 30px;
    }
  }

  > li {
    float: left;
    > a {
      padding-top:    $navbar-padding-vertical;
      padding-bottom: $navbar-padding-vertical;
    }
  }
}

@media (min-width: $grid-float-breakpoint) {
  .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
}

//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  color: $gray-light;

  > .active {
    font-weight: $font-weight-semi-bold;
  }

  .content &{
    padding-top: 0;
    padding-bottom: 0;
  }
}

//
// Buttons
// --------------------------------------------------

.btn-rounded{
  border-radius: 6px;
}

.btn-gray{
  @include button-variant($text-color, $gray-semi-lighter, darken($gray-semi-lighter, 5%));
}

.btn-link:focus,
.btn-link:active:focus,
.btn-link.active:focus{
  outline: 0;
}


//
// Labels
// --------------------------------------------------
.label{
  font-size: 11px;
  font-weight: $font-weight-semi-bold;
}


//
// Button groups
// --------------------------------------------------

.btn-toolbar{
  margin-top: $line-height-computed/2;
  margin-bottom: $line-height-computed/2;
}

//
// Progress bars
// --------------------------------------------------

.progress{
  @include box-shadow(none);
}

.progress-bar{
  border-radius: $border-radius-base;
  @include box-shadow(none);
}

.progress-sm{
  height: 10px;
  margin-bottom: $line-height-computed/2;
}

.progress-xs{
  height: 5px;
  margin-bottom: $line-height-computed/2;
}


.progress-bar-gray {
  @include progress-bar-variant($gray);
}

.progress-bar-gray-light {
  @include progress-bar-variant($gray-light);
}


//
// List groups
// --------------------------------------------------

.list-group{
  .widget-body.no-padding > &{
    margin: 0;

    .list-group-item{
      border-width: 1px 0;
    }
  }
}

.list-group-item{

  .list-group-lg & {
    padding: 15px 15px;
  }
}

//
// Panels
// --------------------------------------------------

.panel {
  border: none;
  @include box-shadow(none);
}

.panel-heading{
  padding-top: 13px;
  padding-bottom: 13px;
}

.panel-title{
  > a{
    display: block;

    >i{
      @include transition-transform(.35s ease);
    }

    &.collapsed{
      color: $text-muted;
      &:hover{
        color: $panel-default-text;
      }
      > i{
        @include rotate(180deg);
      }
    }
  }
}

// return back h* font-sizes
h1, .h1 { &.panel-title{ font-size: $font-size-h1; }}
h2, .h2 { &.panel-title{ font-size: $font-size-h2; }}
h3, .h3 { &.panel-title{ font-size: $font-size-h3; }}
h4, .h4 { &.panel-title{ font-size: $font-size-h4; }}
h5, .h5 { &.panel-title{ font-size: $font-size-h5; }}
h6, .h6 { &.panel-title{ font-size: $font-size-h6; }}

.panel{
  .dropdown-menu > &{
    margin-top: -5px;
    margin-bottom: -5px;
  }
}

.panel-heading{
  border-color: $panel-inner-border;
}

//
// Tooltips
// --------------------------------------------------

.tooltip-inner{
  border-radius: 3px;
}

//
// Alerts
// --------------------------------------------------


.alert-sm{
  padding: 10px 12px;
  font-size: $font-size-mini;

  .close{
    font-size: 18px;
  }
}

.alert-dismissable .close{
  position: static;
  color: $close-color;
}


//
// Popovers

.popover{
  border: none;
  @include box-shadow(none);
}

.popover-content {
  padding: 20px;
}

// Pagination
// --------------------------------------------------

.pagination{
  font-weight: $font-weight-normal;

  > li {
    display: inline; // Remove list-style and block-level defaults
    > a,
    > span{
      border-radius: $border-radius-base;
      margin: 0 2px;
    }
  }
}

// Divider
// --------------------------------------------------

hr {
  margin: 5px 0;
}