.dash-top-widget{
  color: white;
  font-size: 17px;
  font-weight: bold;
  a {
    text-decoration: none;
    color: white;
  }
  .widget-action {
    cursor: pointer;
  }
  .widget-icon {
    position: absolute;
    font-size: 3em;
  }
  .widget-info {
    position: relative;
    margin-bottom: 10px;
  }
  .widget-text {
    margin-left: 60px;
    line-height: 1;
  }
  .huge {
    font-size: 30px;
  }
  .tiny {
    font-size: 15px;
  }
  .large {
    font-size: 23px;
  }
  &.posts-total {
    background-color: $dashboard-blue;
  }
  &.posts-today {
    background-color: $dashboard-green;
  }
  &.last-edited {
    background-color: $dashboard-red;
  }
  &.posts-this-month {
    background-color: $dashboard-yellow;
  }
}

.activity-widget {
  .widget-title {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 10px;
  }
  .date {
    color: $gray-semi-light;
  }
  .post {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}