html, body {
  height: 100%;
  font-size: $font-size-mini;
  color: $text-muted;
}

body {
  overflow: hidden;
}

.app {
  height: 100%;
  color: $text-color;
}

.widget {
  position: relative;
  margin-bottom: 30px;
  padding: 15px 20px;
  background: #fff;
  border-radius: 3px;
  header {
    margin-bottom: 10px;
  }

}

.content-wrap {
  overflow: auto;
  position: absolute;
  background-color: #CFD8DC;
  z-index: 1;
  height: 100%;
  left: 0;
  width: 100%;
  @include transition(left 0.5s);
  @media (min-width: $screen-sm) {
    width: calc(100% - #{$sidebar-width});
    left: $sidebar-width;
  }
  .nav-shown & {
    left: $sidebar-width;
  }
}

.content {
  min-height: 100%;
  padding: 20px;
}

.dropdown-link-container {
  position: relative;
  .nav-dropdown-item {
    position: absolute;
  }
}

.btn-circle {
  border-radius: 50%;
}

.widget .form-horizontal .control-label {
  text-align: left;
  padding-right: 0;
}

.widget-title {
  font-size: 25px;
  font-weight: bold;
}


