<div class="row">
    <div    dash-top-widget class="col-md-3 col-sm-6 col-xs-12"
            description-bottom="total" widget-class="posts-total"
            icon-class="glyphicon glyphicon-globe" widget-sref="app.posts">
    </div>
    <div    dash-top-widget class="col-md-3 col-sm-6 col-xs-12"
            description-bottom="today" widget-class="posts-today" icon-class="glyphicon glyphicon-hourglass"
            interval="1" widget-sref="app.posts({interval: interval})"></div>
    <div    dash-top-widget class="col-md-3 col-sm-6 col-xs-12"
            description-bottom="this month" widget-class="posts-this-month" icon-class="glyphicon glyphicon-calendar"
            interval="30" widget-sref="app.posts({interval: interval})">
    </div>
    <div    dash-top-widget class="col-md-3 col-sm-6 col-xs-12" widget-class="last-edited"
            type="lastEdited" icon-class="glyphicon glyphicon-pencil" description-top="fresh"
            description-bottom="last edited" link-msg="Show" widget-sref="app.editPost({id: lastEdited.id})">
    </div>
</div>
</div>

<div class="row">
    <div class="col-md-6" recently-published></div>
    <div class="col-md-6" ng-include="'app/modules/dashboard/dash_users/dash_users.html'"></div>
</div>
