<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="widget edit-post">
            <header>
                <span class="widget-title">{{vm.post.id ? 'Edit' : 'Create new'}} post</span>
            </header>
            <form novalidate role="form" name="postForm" class="form-horizontal" ng-submit="vm.post.id ? vm.update() : vm.save()" >
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="title">Title</label>
                    <div class="col-sm-10">
                        <input type="text" name="title" class="form-control" ng-model="vm.post.title"
                               required ng-minlength=3 ng-maxlength=100 />
                        <div ng-show="postForm.title.$invalid && postForm.title.$dirty">
                            <small class="error" ng-show="postForm.title.$error.required">
                                Title is required.
                            </small>
                            <small class="error" ng-show="postForm.title.$error.minlength">
                                Title is required to be at least 3 characters
                            </small>
                            <small class="error" ng-show="postForm.title.$error.maxlength">
                                Title cannot be longer than 100 characters
                            </small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="description">Description</label>
                    <div class="col-sm-10">
                        <textarea name="description" class="form-control" rows="5" ng-model="vm.post.description"
                                  required ng-minlength=3 />
                        <div ng-show="postForm.description.$invalid && postForm.description.$dirty">
                            <small class="error" ng-show="postForm.description.$error.required">
                                Description is required.
                            </small>
                            <small class="error" ng-show="postForm.description.$error.minlength">
                                Description is required to be at least 5 characters
                            </small>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <span ng-if="vm.showReturnBtn">
                        <button type="button" class="btn" ng-click="vm.return()">Return</button>
                    </span>
                    <button ng-disabled="postForm.$invalid" type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
