<div class="container-fluid">
    <!-- .navbar-header contains links seen on xs & sm screens -->
    <div class="navbar-header">
        <ul class="nav navbar-nav">
            <li>
                <!-- shown on xs & sm screen. collapses and expands navigation -->
                <a class="visible-xs navbar-toggle toggle-navigation-collapse" nav-collapse-toggler type="click" href="#" title="Show/hide sidebar" data-placement="bottom" data-tooltip>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </li>
        </ul>
         <!--xs & sm screen logo -->
        <a class="navbar-brand visible-xs">
            {{app.name}}
        </a>
    </div>

    <!-- this part is hidden for xs screens -->
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href class="dropdown-toggle dropdown-toggle-notifications" data-toggle="dropdown" id="notifications-dropdown-toggle">
                    Philip <strong>Smith</strong>&nbsp;
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="app.profile">Profile</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>