<div>
    <header class="logo hidden-xs">
        <a>{{app.name}}</a>
    </header>
    <ul class="sidebar-nav">
        <li>
            <a ui-sref="app.dashboard">Dashboard</a>
        </li>
        <li>
            <a class="collapsed" data-target="#sidebar-dashboard" data-toggle="collapse" data-parent="#sidebar">
                Posts
                <b class="caret"></b>
            </a>
            <ul id="sidebar-dashboard" class="collapse">
                <li><a ui-sref="app.posts">Show all</a></li>
                <li><a ui-sref="app.editPost({id: null})">Create new</a></li>
            </ul>
        </li>
        <li>
            <a ui-sref="app.profile">Profile</a>
        </li>
        <li class="hidden-md hidden-lg">
            <a ui-sref="logout">Logout</a>
        </li>
    </ul>

</div>