<div class="widget">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>username</th>
            <th>email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Alice</td>
            <td>
                alice@email.com
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Bob</td>
            <td>
                bob@email.com
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Duck</td>
            <td >
                duck@email.com
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>Shepherd</td>
            <td>
                shepherd@email.com
            </td>
        </tr>
        </tbody>
    </table>
</div>
